* {
    margin: 0;
    padding: 0;
}

.btn {
    margin-right: 5px
}

.markAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.todoForm {
    padding-bottom: 30px;
}

.form-control {
    margin-bottom: 10px;
}